/* CSS */
:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-near-white: #FEFEFE;
    --color-near-black: #161616;
    --color-dark-gray: #414141;
    --color-navy-blue: #4169E1;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-black);
    background-color: var(--color-near-white);
}

body > .base-container {
    margin-left: 20px;
    margin-right: 20px;
}

.btn {
    color: var(--color-near-white);
    background-color: var(--color-navy-blue);
    border: none;
    border-radius: 4px;
    padding: 12px;
}

.todo-control-btns-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 14px;
}

.todo-list-btns-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* ----- List of Todo items ------ */
.todo-list-ol {
    padding-left: 0px; /* Remove browswer default padding */
}

.todo-list-ol > .todo-list-item {
    list-style: none;
}

.todo-list-item {
    margin-bottom: 12px;
}

.todo-list-item-container {
    display: grid;
    grid-template-columns: 20% 60% 10% 10%;
}

.todo-item-due-date {
    grid-column: 1;
    grid-row: 1;
}

.todo-item-title {
    grid-column: 2;
    grid-row: 1;
}

.todo-item-importance {
    grid-column: 3;
    grid-row: 1;
}

.todo-item-isdone {
    grid-column: 1;
    grid-row: 2;
}

.todo-item-description {
    grid-column: 2 / span 2;
    grid-row: 2;
}

.todo-item-btn {
    grid-column: 4;
    grid-row: 1 / span 2;
}


/* ----- Form of a single Todo ----- */
.todo-form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.todo-form-item {
    margin-bottom: 12px;
}

.todo-form-item input[type="text"] {
    width: 100%;
}

.todo-form-item textarea {
    width: 100%;
}

.todo-form-item input[type="date"] {
    width: 100%;
}
